aws-cdk-lib==2.224.0
constructs>=10.0.0,<11.0.0
bedrock-agentcore
strands-agents
strands-agents-tools
bedrock-agentcore-starter-toolkit
psycopg2-binary

# OpenTelemetry dependencies for Arize tracing
openinference-instrumentation-bedrock
arize-otel
